 <swiper-container
  slides-per-view="3.3"
  space-between="-10"
  centered-slides="false"
  loop="false"
  grab-cursor="true"
  >
  @for (pares of peliculas|pares; track $index) {
    <swiper-slide >
      <ion-row>
        @for (pelicula of pares; track $index) {
        <ion-col size="12">
          <ion-card (click)="verDetalle(pelicula.id)">
            <img class="poster"
              [src]="pelicula.poster_path | imagen"
              alt="{{ pelicula.title }}"
            />
          </ion-card>
        </ion-col>
      }
      </ion-row>
        </swiper-slide>
      }
      <swiper-slide class="slide-mas">
        <ion-button  class="btn-mas" expand="full"size="large" (click)="onClick()" >
          mas
        </ion-button>
      </swiper-slide>
  </swiper-container>
