<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="primary">Componentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">inicio</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    @for (c of componentes; track $index) {
    <ion-item  [routerLink]="c.redirectTo" detail="">
      <ion-icon [name]="c.icon" slot="start" color="primary"></ion-icon>
      {{c.name}}
    </ion-item>
  }
  </ion-list>
  <!--
  <ion-button (click)="goToSecondPage()">Alert</ion-button>
  <ion-button (click)="goToSecondPage1()">Action-sheet</ion-button> -->
</ion-content>
