<app-header titulo="card"></app-header>

<ion-content [fullscreen]="true">
  <ion-card mode="ios">
  <ion-card-header>
    <ion-card-title>Card Title</ion-card-title>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    Here's a small text description for the card content. Nothing more, nothing less.
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-item color="primary">
    <ion-icon slot="start" name="pin-outline"></ion-icon>
    <ion-label>marcador</ion-label>
  </ion-item>
  <ion-card-content>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic earum incidunt, suscipit veritatis cum itaque soluta corrupti velit ipsum eveniet praesentium maxime voluptate exercitationem qui nisi ex iure dolores labore!
  </ion-card-content>
</ion-card>
<ion-card>
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRbaAGxXT6LVuQC6vzQEMyoMHYgKYQdjO1-JC-KfUC3NkxxwOuXM3iJVA2Kmy4GMzWXZc&usqp=CAU">
  <ion-card-content>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex laboriosam quisquam, quos dolor qui obcaecati temporibus saepe, expedita quo soluta cum nam. Eveniet sed error distinctio aliquid dolore? Unde, aspernatur?
  </ion-card-content>
</ion-card>
</ion-content>
